[Dev]
api_version=3.1
base_url=https://looker-dev.colinpistell.com:19999
client_id=abc
client_secret=xyz
verify_ssl=True

[Test]
api_version=3.1
base_url=https://looker-test.colinpistell.com:19999
client_id=abc
client_secret=xyz
verify_ssl=True

[Calvin]
api_version=3.1
base_url=https://looker-prod-calvin.colinpistell.com:19999
client_id=abc
client_secret=xyz
verify_ssl=True

[Levis]
api_version=3.1
base_url=https://looker-prod-levi.colinpistell.com:19999
client_id=abc
client_secret=xyz
verify_ssl=True

[Webhooks]
looker_hub_deploy_secret=123foobarbaz
looker_calvin_deploy_secret=123foobarbaz
looker_levis_deploy_secret=123foobarbaz
