[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = ">=7.31.1"
pytest = "*"
pytest-mock = "*"
flake8 = "*"
pytest-cov = "*"
twine = "*"

[packages]
looker-sdk = ">=21.18.0"
oyaml = "*"
python-json-logger = "*"
e1839a8 = {editable = true,path = "."}
looker-deployer = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
